<div class = "row">
	<div class = "span9">
		<h1 class="black">About codeBase!</h1>
		<br/>
		<br/>
		<h3 class="black">
			codeBase is a Computer Science forum for posting code, requesting assistance, posting helpful links, and so on.
			<br/>
			<br/>
			Our goal here at codeBase it to give Computer Science students a place to get help or give help on projects that they might be having trouble with.
			<br/>
			<br/>
			codeBase was created by a small team of developers from the University of North Carolina at Asheville.
			<br/>
			<br/>
			Enjoy the site!
		</h3>
	</div>
</div>
