<div class = "row">
	<div class = "span9">
		<h1>About codeBase!</h1>
		<br/>
		<br/>
		<h4>
			codeBase is a website that's meant to help students in computer science courses.
			<br/>
			...More content about codeBase will go here.
			<br/>
			<br/>
			Enjoy the site!
		</h4>
	</div>
</div>
