

	
		<div class = "row">
					<div class = "span9">
						<h4><%- postName %></h4><br>
						
					</div>
				</div>
				<div class = "row">
					<div class = "span9">
            			<pre>
            				<%- post %>
    					</pre>
    				</div>
    			</div>


	
