<div class = "row">
	<div class = "span9">
		<form class="form-horizontal">
			<fieldset>
				<legend>Signup now!</legend>
					<div class="control-group">
						<label class="control-label" for="firstName">First name: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="firstName">
						</div><br/>
						<label class="control-label" for="lastName">Last name: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="lastName">
						</div>	<br/>								
						<label class="control-label" for="username">Username: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="username">
						</div><br/>
						<label class="control-label" for="password">Password: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="password">
						</div><br/>
						<label class="control-label" for="passwordConfirm">Confirm Password: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="passwordConfirm">
						</div><br/>
						<label class="control-label" for="email">Email Address: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="email">
						</div><br/>
						<a button type="submit" class="btn" href="/saveexample" >Submit</button>
					</div>
			</fieldset>
		</form>
	</div>
</div>
