<div class = "row">
	<div class = "span9">
		<form class="form-horizontal" action='/signup' method='post'>
			<fieldset>
				<legend>Signup now!</legend>
					<div class="control-group">
						<label class="control-label" for="firstname">First name: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="firstname" id="firstname">
						</div><br/>
						<label class="control-label" for="lastname">Last name: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="lastname" id="lastname">
						</div>	<br/>								
						<label class="control-label" for="username">Username: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="username" id="username">
						</div><br/>
						<label class="control-label" for="password">Password: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="password" id="password">
						</div><br/>
						<label class="control-label" for="passwordConfirm">Confirm Password: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="passwordConfirm" id="passwordConfirm">
						</div><br/>
						<label class="control-label" for="email">Email Address: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="email" id="email">
						</div><br/>
						<button type="submit" class="btn" value="signup" >Submit</button>
					</div>
			</fieldset>
		</form>
	</div>
</div>
