<div class = "row">
	<div class = "span9">
		<form class="form-horizontal">
			<fieldset>
				<legend>Signup now!</legend>
					<div class="control-group">
						<label class="control-label" for="input05">First name: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="input01">
						</div><br/>
						<label class="control-label" for="input06">Last name: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="input01">
						</div>	<br/>								
						<label class="control-label" for="input01">Username: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="input01">
						</div><br/>
						<label class="control-label" for="input02">Password: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="input01">
						</div><br/>
						<label class="control-label" for="input03">Confirm Password: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="input01">
						</div><br/>
						<label class="control-label" for="input04">Email Address: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" id="input01">
						</div><br/>
						<button type="submit" class="btn">Submit</button>
					</div>
			</fieldset>
		</form>
	</div>
</div>