<div class = "row">
	<div class = "span9">
		<form class="form-horizontal" action='/signup' method='post'>
			<fieldset>
				<legend>Submit Code!</legend>
					<div class="control-group">
						<label class="control-label" for="post">Code: </label>
						<div class="controls">
							<input type="text" class="input-xlarge" name="post" id="post">
													<button type="submit" class="btn" value="signup" >Submit</button>
						</div><br/>
						</div>
			</fieldset>
		</form>
	</div>
</div>